.loading{
    height: 4rem;
    width: 4rem;
    border: solid #fbfcfc94 1rem;
    border-right: solid var(--tertiary) 1rem;
    border-radius: 50%;
    
    margin: 20% auto 0 auto;
    
    animation: rotation .7s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }