@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Merriweather+Sans:wght@800&family=Raleway:wght@400;500;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --green: #2bae66ff;

  --white: #fbfcfc;
  --yellow: #fde24f;
  --teal: #00ebc7;
  --coral: #ff5470;
  --navy: #00214d;
  
  
  --yellowShade: #FDF0CA;
  --tealShade: #C6FCED;
  --coralShade: #FFE4E5;
  --navyShade: #E9EFFF;
    

  --blue: #5463ff;
  --grey: #ececec;
  --mustard: #ffc300;
  --red: #ff1818;

  --greenBright: #00ffab;
  --greenDark: #14c38e;
  --greenLime: #b8f1b0;
  --greenLemon: #e3fcbf;

    /* OPTION ONE */
  
  --primary: var(--yellow);
  --secondary: var(--coral);
  --tertiary: var(--teal);
  --textColor: var(--navy);

  
  /* OPTION TWO */
  
  /* --primary: var(--navy);
  --secondary: var(--greenBright);
  --tertiary: var(--greenLemon);
  --textColor: var(--navy);
   */
  

  
    /* font-family: "Josefin Slab", serif;
    font-family: "Raleway", sans-serif; */
    font-family: 'Pacifico', cursive;
    font-family: "Merriweather Sans", sans-serif;

}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  background-color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  font: inherit;
  display: block;
}