.sign-up-form-root{
  background-color: var(--tertiary);
  color: var(--textColor);
}

.login-form-root{
  background-color: var(--secondary);
  color: var(--textColor);
}


.sign-up-form-root,
.login-form-root {

  border-radius: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.312);
  display: flex;
  justify-content: space-between;
  width: 40rem;
  height: 29rem;
  margin: 3rem auto;
  overflow: hidden;
}


.sign-up-form-root .img-container .link {
  color: var(--secondary);
}

.login-form-root .img-container .link{
  color: var(--textColor);
}

.login-form-root .img-container .link,
.sign-up-form-root .img-container .link {
  text-decoration: none;
  background-color: var(--white);
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.312);
}

.login-form-root .img-container .link:hover, 
.sign-up-form-root .img-container .link:hover {
  box-shadow: 2px 2px 10px var(--white);
}

.login-form-root .img-container,
.sign-up-form-root .img-container {
  margin: 1.5rem auto;
  text-align: center;
  padding-bottom: 2rem;
}

.login-form-root .login-form,
.sign-up-form-root .sign-up-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: var(--white);
  width: 40%;
}

.login-form-root .login-form h2{
  text-align: center;
  padding-bottom: 1rem;
}

.login-form-root .login-form > div,
.sign-up-form-root .sign-up-form > div {
  padding-left: 3rem;
  padding-right: 3rem;
}


.login-form-root .login-form  input,
.sign-up-form-root .sign-up-form input {
  border: none;
  outline: solid var(--grey);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: .75rem;
  margin-top: .25rem;
  text-align: left;
}

.sign-up-form-root .sign-up-form p{
  font-size: 8pt;
  padding-left: 1.2rem;
  margin-bottom: 0;
  margin-top: -.3rem;

}

.login-form-root .login-button{
  background-color: var(--tertiary);
  padding: 1rem 4rem;
}

.sign-up-form-root .sign-up-button{
  background-color: var(--secondary);
  padding: 1rem 2rem;
}


.login-form-root .login-button,
.sign-up-form-root .sign-up-button {
  margin: 1rem auto 0 auto;
  color: var(--textColor);
  border-radius: 1.5rem; 
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.312);
  cursor: pointer;
  transition: ease-in-out .3s;
}


.login-form-root .login-button:hover,
.sign-up-form-root .sign-up-button:hover{
  box-shadow: 2px 2px 10px var(--white);
}

