.new-game-form .sport-groups {
    border: none;
    place-items: center;
    background: white;
    margin: 0;
    
    color: inherit;
    border-radius: 4px 0 0 4px;
    white-space: nowrap;
    
    display: flex;
    flex-direction: row;
  }

.new-game-form .sport-groups .sport {
    border: none;
    background: none;
    padding: 1.5rem 1rem;
    cursor: pointer;
    font: inherit;
    font-weight: 900;
    text-transform: capitalize;
    
  }
  .new-game-form .sport-groups .sport:hover {
    color: #f68687;
  }
  
  .new-game-form .sport-groups .sport:active {
    color: black;
  }
  
  .new-game-form .sport-groups .sport.selected {
      color: white;
      background-color: #f68687;
  }
  
.new-game-form {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    gap: 10px;
    
}