.new-game-form {
  font: inherit;
  color: var(--textColor);
}

.new-game-form input,
.new-game-form select,
.new-game-form textarea {
  outline: solid var(--grey);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  border: none;
  font: inherit;

  font-size: small;
  color: var(--textColor);
}

/* .new-game-form .form-section.one {
  display: flex;
  flex-direction: column;
} */

.new-game-form .asterisk {
  color: var(--secondary);
  font-size: 10pt;
}

.new-game-form label.required::after {
  content: "*";
  color: var(--secondary);
  font-size: 10pt;
  padding-left: 0.1rem;
}

.new-game-form .form-section.one p {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
  text-align: center;
}

.new-game-form {
  display: flex;
  flex-direction: column;
}

.new-game-form .form-section {
  text-align: left;
}

.new-game-form .form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-game-form .form-section.instructions {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  font-size: 1.2rem;
  text-align: center;
}

.new-game-form .form-section.five textarea {
  width: unset;
}

.new-game-form .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 2rem;
  grid-auto-rows: minmax(3rem, auto);
}


.new-game-form .form-section.button {
  background-color: var(--tertiary);
  padding: 1rem 2rem;
  width: fit-content;
  margin: 1rem auto 0 auto;
  color: var(--textColor);
  border-radius: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.312);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.new-game-form .form-section.form-section.button:hover {
  box-shadow: 2px 2px 10px var(--white);
}

@media screen and (max-width: 750px) {
  
  .create-game-landing-root .grid-container {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .create-game-landing-root .grid-container label {
    text-align: center;
  }
  
  .new-game-form .form-section.five label {
    text-align: center;
  }

}
