.mygames-landing-root .sport-groups {
  border: none;
  place-items: center;
  background: var(--textColor);
  margin: 0;

  color: var(--white);
  border-radius: 4px 0 0 4px;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mygames-landing-root .sport-groups .sport {
  border: none;
  background: none;
  padding: 1.25rem 1rem;
  cursor: pointer;
  text-transform: capitalize;
}
.mygames-landing-root .sport-groups .sport:hover {
  color: var(--primary);
}

.mygames-landing-root .sport-groups .sport.selected {
  color: var(--white);
  background-color: var(--secondary);
  border-radius: 2rem;
}

.mygames-landing-root{
  padding: 2rem 5rem;
}

.mygames-landing-root .mygame-card-container {
  background-color: var(--white);
  color: var(--textColor);
  border-radius: 2rem;
  /* width: fit-content; */

  margin: 3rem auto;
  max-width: 1000px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.312);

  text-align: center;
  padding-bottom: 2rem;

  padding-top: 1rem;
}

.mygames-landing-root .post-button {
  display: block;
  margin: 3rem auto 3rem auto;
  border: none;
  background-color: var(--tertiary);
  padding: 1rem 2rem;
  font: inherit;
  color: var(--textColor);
  border-radius: 1.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.312);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.mygames-landing-root .post-button:hover {
  /* color: var(--secondary); */
  box-shadow: 2px 2px 2px #f1f1f1;
}

.mygames-landing-root .link {
  text-decoration: none;
}
