.gamedetails-root {
  display: grid;
  place-items: center;

  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.7);

  z-index: 1;
}

.gamedetails-root .info-container {
  display: flex;
  flex-direction: column;

  padding: 4rem;
  padding-top: 2rem;
  white-space: wrap;
  background-color: var(--white);
  border-radius: 2rem;
  color: var(--secondary);
  position: relative;
}

.gamedetails-root .info-container h2 {
  color: var(--textColor);
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: .75rem;
}


.gamedetails-root .info-container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

.gamedetails-root .info-container .grid .col-one {
  grid-column: 1/2;
  grid-row: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 9rem;
}
.gamedetails-root .info-container .grid .col-two {
  grid-column: 2/2;
  grid-row: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 9rem;
  align-items: center;
}

.gamedetails-root .info-container b {
  color: var(--textColor);
  font-weight: lighter;
  font-size: smaller;
  margin-top: .75rem;
  padding-top: .75rem;
}

.gamedetails-root .info-container .close-details-modal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: var(--white);
  color: var(--textColor);
  cursor: pointer;
}

.gamedetails-root .info-container .close-details-modal:hover {
  color: var(--secondary);
}

.gamedetails-root .info-container a .contact-button,
.gamedetails-root .info-container .delete-game-button {
  color: var(--textColor);
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.75rem auto 1rem auto;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.312);
}

.gamedetails-root .info-container .delete-game-button {
  margin: 1rem auto 1rem auto;
}

.gamedetails-root .info-container a .contact-button:hover,
.gamedetails-root .info-container .delete-game-button {
  box-shadow: 2px 2px 2px var(--white);
}

.gamedetails-root .info-container a {
  text-decoration: none;
}

.gamedetails-root .info-container .grid .col-two .game-contact b {
  margin-top: .75rem !important;
  /* background-color: red; */
  }