.must-sign-in-root {
  display: grid;
  place-items: center;

  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.393);
  z-index: 1;
}

.must-sign-in-root .info-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 1rem 1rem;
  white-space: wrap;
  background-color: var(--white);
  border-radius: 2rem;
  position: relative;
}

.must-sign-in-root .info-container .not-a-member {
  font-size: 0.75rem;
}

.must-sign-in-root .info-container .link {
  text-decoration: none;
}

.must-sign-in-root .info-container .link .login-button {
  background-color: var(--tertiary);
  padding: 0.5rem 1.5rem;
  margin: 0.75rem auto .5rem auto;
}

.must-sign-in-root .info-container .link .login-button,
.must-sign-in-root .info-container .link .sign-up-button {
  color: var(--textColor);
  border-radius: 1.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.312);
  cursor: pointer;
  transition: ease-in-out 0.3s;
  width: 4.5rem;
}

.must-sign-in-root .info-container .link .sign-up-button {
  background-color: var(--secondary);
  font-size: 0.75rem;
  margin: 0.5rem auto 0 auto;
  padding: 0.5rem 1rem;
}

.must-sign-in-root .info-container .link .login-button:hover,
.must-sign-in-root .info-container .link .sign-up-button:hover {
  box-shadow: 2px 2px 2px var(--white);
}

.must-sign-in-root .info-container .close-button{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
    padding: 0 .5rem 0 .5rem;
    background-color: var(--white);
    color: var(--textColor);
    cursor: pointer;
}

.must-sign-in-root .info-container .close-button:hover{
    color: var(--secondary);
}