.sport-groups {
  border: none;
  place-items: center;
  background: var(--navy);
  margin: 0;

  color: var(--white);
  border-radius: 4px 0 0 4px;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sport-groups.short {
  width: fit-content;
  margin: auto;
}

.sport-groups.round {
  border-radius: 2rem;
}

.sport-groups .sport {
  border: none;
  background: none;
  padding: 1.25rem 1rem;
  cursor: pointer;
  text-transform: capitalize;
}
.sport-groups .sport:hover {
  color: var(--primary);
}

.sport-groups .sport.selected {
  color: var(--white);
  background-color: var(--secondary);
  border-radius: 2rem;
}

@media screen and (max-width: 650px) {
  .sport-groups.short {
    flex-direction: column;
    border-radius: 2rem;
    margin: auto;
  }

  .sport-groups .sport {
    padding: 1rem 0.5rem;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 450px) {
  .sport-groups .sport {
    padding: 0.5rem 0.5rem !important;
    font-size: 0.6em;
  }
  .sport-groups .sport.selected {
    border-radius: 0 !important;
    overflow: hidden !important;
  }
}
