.add-player-button-root {
    
    background-color: var(--white);
    color: var(--textColor);
    width: fit-content;
    margin-left: .5rem;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.312);
    cursor: pointer;
}

.add-player-button-root:hover{
    /* color: var(--secondary); */
    box-shadow: 1px 1px 3px inset rgba(0, 0, 0, 0.312);
}

.add-player-button-root span{
    margin-left: 10px;
    color: var(--textColor);
}